*               text=auto
*.ps1           eol=crlf
*.bat           eol=crlf
*.sh            eol=lf
*.yml           eol=lf
*.yaml          eol=lf
*.toml          eol=lf
*.py            eol=lf
*.sql           eol=lf
.gitattributes    text eol=lf
*.json            eol=lf
*.env             eol=lf
*.psm1            eol=crlf
*.psd1            eol=crlf
