*               text=auto
*.ps1           eol=crlf
*.bat           eol=crlf
*.sh            eol=lf
*.yml           eol=lf
*.yaml          eol=lf
*.toml          eol=lf
*.py            eol=lf
*.sql           eol=lf
